#ANOTAÇÕES ALEATÓRIAS
para segmentação usamos:
standard scalar (colocar tudo na mesma escala)

PCA fazer uma redução de dimensionalidade (reduzir é diminuir o número de dimensões, não é selecionar)

kmeans (identificar os pontos próximos uns dos outros, formando grupos nessas dimensões e assim clusterizá-los)

lista.append

string.split

set. dicionário

int float

Golden Cross cruzamento ascendente das médias móveis indica que a tendência de preço de curto prazo está ficando mais forte do que a de longo prazo, sugerindo que os investidores estão comprando mais do ativo, e o preço pode continuar a subir

Death Cross indica que a tendência de curto prazo está enfraquecendo em relação à de longo prazo, o preço do ativo pode continuar a cair; a correção de uma tendência de alta acabou e que o mercado pode estar entrando em uma fase de declínio ou tendência de baixa.

.append adiciona valores a uma lista

In [1]:
# Criando uma lista de frutas
frutas = ['maçã', 'banana', 'laranja']

# Adicionando uma nova fruta com o append
frutas.append('uva')

# Mostrando a lista atualizada
print(frutas)

['maçã', 'banana', 'laranja', 'uva']

In [2]:
# Lista vazia
numeros = []

# Adicionando números de 1 a 5 à lista
for i in range(1, 6):
    numeros.append(i)

print(numeros)

[1, 2, 3, 4, 5]

Transformando um df em lista

In [ ]:
import pandas as pd

# Criando um DataFrame de exemplo
df = pd.DataFrame({
    'Nome': ['Ana', 'Bruno', 'Carla'],
    'Idade': [23, 35, 29],
    'Cidade': ['São Paulo', 'Rio de Janeiro', 'Belo Horizonte']
})

# Convertendo o DataFrame em uma lista
lista = df.values.tolist()

print(lista)

transformando uma lista em df

In [5]:
import pandas as pd

# Lista de listas
lista = [['Ana', 23, 'São Paulo'],
         ['Bruno', 35, 'Rio de Janeiro'],
         ['Carla', 29, 'Belo Horizonte']]

# Convertendo a lista em um DataFrame
df = pd.DataFrame(lista, columns=['Nome', 'Idade', 'Cidade'])

print(df)

    Nome  Idade          Cidade
0    Ana     23       São Paulo
1  Bruno     35  Rio de Janeiro
2  Carla     29  Belo Horizonte

transformando um dicionário em df

In [6]:
import pandas as pd

# Dicionário de listas
dados = {
    'Nome': ['Ana', 'Bruno', 'Carla'],
    'Idade': [23, 35, 29],
    'Cidade': ['São Paulo', 'Rio de Janeiro', 'Belo Horizonte']
}

# Convertendo o dicionário em um DataFrame
df = pd.DataFrame(dados)

print(df)

    Nome  Idade          Cidade
0    Ana     23       São Paulo
1  Bruno     35  Rio de Janeiro
2  Carla     29  Belo Horizonte

dicionário de dicionários agora

In [7]:
import pandas as pd

# Dicionário de dicionários
dados = {
    0: {'Nome': 'Ana', 'Idade': 23, 'Cidade': 'São Paulo'},
    1: {'Nome': 'Bruno', 'Idade': 35, 'Cidade': 'Rio de Janeiro'},
    2: {'Nome': 'Carla', 'Idade': 29, 'Cidade': 'Belo Horizonte'}
}

# Convertendo o dicionário em um DataFrame
df = pd.DataFrame.from_dict(dados, orient='index')

print(df)

    Nome  Idade          Cidade
0    Ana     23       São Paulo
1  Bruno     35  Rio de Janeiro
2  Carla     29  Belo Horizonte

In [8]:
import pandas as pd

# Criando um DataFrame de exemplo
df = pd.DataFrame({
    'Nome': ['Ana', 'Bruno', 'Carla'],
    'Idade': [23, 35, 29],
    'Cidade': ['São Paulo', 'Rio de Janeiro', 'Belo Horizonte']
})

# Convertendo o DataFrame em um dicionário
dicionario = df.to_dict(orient='list')

print(dicionario)

{'Nome': ['Ana', 'Bruno', 'Carla'], 'Idade': [23, 35, 29], 'Cidade': ['São Paulo', 'Rio de Janeiro', 'Belo Horizonte']}

In [9]:
# Convertendo o DataFrame em um dicionário
dicionario = df.to_dict(orient='dict')

print(dicionario)

{'Nome': {0: 'Ana', 1: 'Bruno', 2: 'Carla'}, 'Idade': {0: 23, 1: 35, 2: 29}, 'Cidade': {0: 'São Paulo', 1: 'Rio de Janeiro', 2: 'Belo Horizonte'}}

 #RESAMPLE
 o método resample() é utilizado para reamostrar séries temporais, permitindo que você mude a frequência dos dados temporais, agregando ou interpolando dados conforme necessário. Isso é particularmente útil quando você trabalha com dados que possuem um índice temporal (como timestamps) e deseja alterar a granularidade dos dados. Sua sintaxe básica é:

In [ ]:
DataFrame.resample(rule, how=None, fill_value=None, label='right', closed='right')

rule: Define a nova frequência. Exemplos incluem 'D' (diário), 'M' (mensal), 'A' (anual), 'H' (horário), etc.
how: Função de agregação a ser aplicada (por exemplo, 'mean', 'sum', 'max', etc.).
fill_value: Preencher valores ausentes após o reamostramento.
label: Especifica se o rótulo do novo período deve estar à esquerda ou à direita.
closed: Especifica qual lado do intervalo é fechado.
closed='right': Especifica qual lado do intervalo é fechado.

-

O intervalo é fechado à direita, o que significa que o limite superior é incluído no intervalo.
Por exemplo, se você tem um intervalo de tempo de 2023-01-01 a 2023-01-02, e está usando closed='right', o intervalo incluirá 2023-01-02

closed='left':O intervalo é fechado à esquerda, o que significa que o limite inferior é incluído no intervalo.
Usando o mesmo exemplo, se você tem um intervalo de 2023-01-01 a 2023-01-02, e está usando closed='left', o intervalo incluirá 2023-01-01.

In [10]:
import pandas as pd

# Criando um DataFrame com um índice de data
data = {'data': pd.date_range(start='2023-01-01', periods=5, freq='D'),
        'valor': [1, 2, 3, 4, 5]}
df = pd.DataFrame(data).set_index('data')

# Reamostrando com closed='right'
resample_right = df.resample('2D', closed='right').sum()
print("Closed='right':")
print(resample_right)

# Reamostrando com closed='left'
resample_left = df.resample('2D', closed='left').sum()
print("\nClosed='left':")
print(resample_left)

Closed='right':
            valor
data
2022-12-30      1
2023-01-01      5
2023-01-03      9

Closed='left':
            valor
data
2023-01-01      3
2023-01-03      7
2023-01-05      5